@model GolfTour.Web.ViewModels.Course.CourseViewModel
@{
    this.ViewData["Title"] = "Add Course";

}

<form method="post" class="col-md-6 offset-md-3" >
    <div asp-validation-summary="All">

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label asp-for="ImageCourse"></label>
            <input asp-for="ImageCourse" class="form-control" />
            <span asp-validation-for="ImageCourse" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Designer"></label>
            <input asp-for="Designer" class="form-control" />
            <span asp-validation-for="Designer" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" class="text-bg-danger"/>
 </form>

