@using GolfTour.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to @GlobalConstants.SystemName!</h1>
        <p class="lead text-muted">Web app for players, golfcourses,golfrankings</p>
        <p>
            <a href="#" class="btn btn-primary my-2">PGA TOUR</a>
            <a href="#" class="btn btn-secondary my-2">FEDEX CUP</a>
        </p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="https://www.caddybytes.com/virtualtours/Buick%20Invitational/slides/11th_green.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Site for GolfCourses, GolfPlayers and Tournaments</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            
         </div>
    </div>
 </div>
